header .head{
    display:inline-block;
    font-size: 40px;
    color:white;
    height: 50px;
   line-height:40px;
   padding-left: 15px;
   
}
header .head1{
    display:inline-block;
    font-size: 60px;
    color:orange;
    line-height: 60px;
    margin-left: 1px;
    
}
header{
    display: flex;
    background-color:rgb(51, 50, 50);
    margin: 0px;
    padding:20px 0px;
    font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}
*{
    padding: 0;
    margin: 0;
}
.topul{
    list-style-type: none;
    background-color:grey;
    padding:0px;
    margin:0;
    overflow: hidden;
    
    }
   .topul li{
    float:left;
    border-right: 2px solid rgb(51, 50, 50);
    }
    .topul li a {
    display:block;
    color:white;
    text-align: center;
     padding: 16px;
    text-decoration:none;
    }
    .topul li a:hover{
    background-color: orange;
    }
    .aside1{
        background-color: rgb(216, 214, 214);
        float: right;
        padding-top: 50px;
        padding-left: 20px;
        font-size: 25px;
        width: 25%;
        height: 720;
        position: fixed;
        right: 0;
   
        }
    .wrapper{
            display:inline-block;
            width:100%;
            top: 150px;
            bottom: 50px;
            position: absolute;
            }
   .aside1hr{
       border-top: 1px solid grey;
                margin-top: 10px;
              width:95%;
      }
      .rightul{
        list-style-type: none;
        color: orange;
        padding-left: 0px;
        margin:10px;
        line-height: 30px;
        font-size: 20px;
      }
      .aside2hr{
        border-top: 1px solid grey;
                 margin-top: 20px;
               width:95%;
      }
      .aside2{
       margin-top: 40px;
      }
      .para{
          font-size: 20px;
          color:rgb(100, 99, 99);
          margin-top: 20px;
      }
     .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color:rgb(51, 50, 50);
            color: white;
            text-align: center;
            height:50px;
            float:left;
          }
          .bottom{
              padding-top: 15px;
          }
          .spancolor{
              color:orange;
          }
          .box1{
           
            float:left;
           margin-left: 20px;
           padding-top: 150px;
           margin-top: 40px;
            background-color: lightgray;
            width:200px;
            }
            .box11{
                width:15%;
                float:left;
            }
            .leftblock{
                float: left;
                 width: 70%;
                 height: 70vh;
                 overflow-y: scroll;
            }
            .para1{
                float: left;
                padding-left: 70px;
                font-size: xx-large;
                margin-top: 35px;
            }
            .para2{
                margin-top: -100px;
                float:left;
                font-size: 15px;
                padding-left: 250px;
                font-style:italic;
            }
            .readmore1{
                float:left;
                font-size: 15px;
                padding-left: 250px;
                font-style:italic;
                color:orange;
                margin-top: -30px;
                padding-bottom: 50px;
            }
            .leftbodyhr{
                width: 100%;
               margin-left: 20px;
               border-top: 1px solid grey;
              line-height: 100px;
            }
            